* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #162335;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 30px;
}

.header__logotext {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  font-variant: small-caps;
  font-size: 60px;
  color: #e08a07;
}

.header__burger {
  display: none;
  z-index: 15;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
  }
}

.header__burger:before, .header__burger:after {
  content: "";
  position: absolute;
  background-color: #e08a07;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger:hover::before, .header__burger:hover::after {
  background-color: #fac26e;
  -webkit-box-shadow: 0px 0px 5px #fac26e;
          box-shadow: 0px 0px 5px #fac26e;
}

.header__burger span {
  position: absolute;
  background-color: #e08a07;
  width: 100%;
  height: 2px;
  left: 0;
  top: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger:hover span {
  background-color: #fac26e;
  -webkit-box-shadow: 0px 0px 5px #fac26e;
          box-shadow: 0px 0px 5px #fac26e;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: translateY(15px) rotate(45deg);
          transform: translateY(15px) rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.active:after {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.active {
  z-index: 16;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  min-height: 100%;
}
